<% content_for :head_style do %>
  <%= stylesheet_link_tag :articles %>
<% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

 <div class="posts">
    <div class="posts-inner">
    
        <% @tagged_articles.each do |tagged_article| %>
            <%= render tagged_article.article if tagged_article.article  %>
        <% end %>
    </div>


    <div class="pagination-wrap">
       <%= will_paginate @tagged_articles, :page_links => false %>
    </div>

</div>
