<!DOCTYPE html>
<html>
  <head>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127865135-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-127865135-1');
      document.addEventListener('turbolinks:load', event => {
        if (typeof gtag === 'function') {
          gtag('config', 'UA-127865135-1', {
            'page_location': event.data.url
          });
        }
      });
    </script>
    
    <title><%= @site_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @site_desc %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700%7CCrete+Round' type='text/css' media='all' />
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :head_style %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div id="main-content">
      <div class="container">
          <div class="row">

              <%# Header / Logo %>

              <div class="col-md-3 order-md-1">
                  <%= render 'shared/author_head' %>
              </div>

              <div class="col-md-9 order-md-2">
                <%= yield %>
              </div>
              
          </div>
        </div>
    </div>

  </body>
</html>
