<!DOCTYPE html>
<html>
  <head>
    <title><%= @site_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700%7CCrete+Round' type='text/css' media='all' />
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :head_style %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="main-content">
      <div class="container">
          <div class="row">

              <%# Header / Logo %>

              <div class="col-md-3 order-md-1">
                  <%= render 'shared/author_head' %>
              </div>

              <div class="col-md-9 order-md-2">
                <%= yield %>
              </div>
              
          </div>
        </div>
    </div>

  </body>
</html>
